.artistPage {
    width: 80%;
    margin: auto;
    /* background-color: white;
    color: black; */
    padding: 20px;
}

.albumForm {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    justify-content: center;
}

.albumForm > * {
    margin: auto;
}

.songForm {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    justify-content: center;
}

.albumForm > * {
    margin: auto;
}

.albumDiv {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.albumDetails {
    width: 20%;
    min-width: 250px;
}

.albumDetails img {
    width: 100%;
    height: auto;
}

.artistTab {
    display: flex;
}