.artistPage {
    width: 80%;
    margin: auto;
    /* background-color: white;
    color: black; */
    padding: 20px;
}

.albumForm {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    justify-content: center;
}

.albumForm > * {
    margin: auto;
}

.songForm {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    justify-content: center;
}

.albumForm > * {
    margin: auto;
}

.albumDiv {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    gap: 20px;
}

.albumDetails {
    border: 1px solid grey;
    padding: 10px;
    width: 20%;
    min-width: 250px;
}

.albumDetails img {
    width: 100%;
    height: auto;
}

.artistTab {
    display: flex;
}

.logoutDiv {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

.actionsDiv {
    display: flex;
    width: 100%;    
    justify-content: space-between;
    gap: 30px;
}