.albums {
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    gap: 30px;
}

.albumDiv {
    width: 20%;
    text-align: left;
    padding: 10px;
    border: 1px solid rgb(46, 46, 46);
    min-width: 200px;
}

.filtersDiv {
    width: 96%;
    margin: auto;
}

.albumName {
    color: #384AF1;
}

.albumDiv img {
    width: 100%;
    height: auto;
    min-height: 220px;
}

.albumDiv:hover  img{
    opacity: 0.8;
    cursor: pointer;
}

.albumDetails {
    display: flex;
    justify-content: left;
    gap: 30px;
    align-items: center;
    padding: 10px;
}

.albumCover {
    width: 50%;
    height: auto;
}

.albumSongDetails {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-weight: 500;
    padding: 10px 10px;
}

.albumSongsHeader {
    margin: 10px 10px;
}

.songsHeader {
    color: #384AF1;
}

.albumSongDetails > p:nth-child(2) {
    color: #384AF1;
}

.albumSongDetails:hover {
    background-color: rgba(32, 30, 30, 0.726);
}

.actionsDiv {
    width: 96%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
}

.actionsDiv > * {
    width: 300px;
}

.pagination {
    text-align: center;
}