.registerStack {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}

.registerStack > * {
    width: 60%;
}

.registerStack h1 {
    color: #384AF1;
    margin-bottom: 20px;
}

.registerStack h2 {
    margin-top: 20px;
}
.registerStack h2 a {
    color: #384AF1;
}