.loginStack {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}

.loginStack > * {
    width: 60%;
}

.loginStack h1 {
    color: #384AF1;
    margin-bottom: 20px;
}

.loginStack h2 {
    margin-top: 20px;
}
.loginStack h2 a {
    color: #384AF1;
}